

body{
	font-family: "Calibri";
	font-size: 20px;
	margin: 0px;
	padding: 0px;


	background-color: rgb(200,200,200);
}

h1{
	margin: 0px;
	padding: 20px;

	font-size: 64px;
	color: rgb(255,255,255);
	text-shadow: 2px 2px 4px rgb(0,50,100);
	text-align: center;

	background: -webkit-linear-gradient(top, rgb(10,10,10), rgba(10,10,10,.85));

}
h2{
	margin: 40px;
	margin-bottom: 0px;
	padding: 10px;

	font-size: 40px;
	color: rgb(255,255,255);
	text-shadow: 2px 2px  4px rgb(0,0,0);

	background-color: rgb(150,150,255);
	background: -webkit-linear-gradient(right, rgb(25,25,25), rgba(25,25,25,.9));

	overflow: hidden;
}

.sep{
	height: 100%;
	width: 50%;
	float: left;
}

/*
.Numbers{

	background-color: rgba(100,225,150,.9);
	margin: 0px;

}
*/
.InsertionSort{

	background-color: rgba(100,225,150,.9);
	
	padding-left: 10px;
	margin: 0px;
}
.prev{
	background-color: rgba(100,225,150,.9);
	padding-left: 10px;
}
.selected{
	background-color: rgba(100,255,150,.8);
	padding-left: 0px;
	margin: 0px;
	box-shadow: 0px 0px 5px rgb(100,100,100);
}

/*Merge Sort*/
.MergeSort{
	/*background-color: rgba(100,200,255,.9);*/

	/*border-color: rgb(100,150,200);
	border-style: solid;
	border-width: 1px;
*/
	background-color: rgba(100,200,255,.9);
	margin: 0px;
}
.MSprev{
	background-color: rgba(100,200,255,.9);
	padding-left: 10px;
}
.MSselected{
	background-color: rgb(100,200,255);
	padding-left: 0px;
	margin: 0px;

	box-shadow: 0px 0px 50px rgb(100,255,100);
}
.MSselected2{
	background-color: rgb(200,200,255);
	padding-left: 5px;

	box-shadow: 0px 0px 5px rgb(100,100,100);
}

ul{
	margin: 40px;
	margin-top: 0px;
	padding: 25px;
	background-color: rgb(220,220,220);
	box-shadow: 10px 10px 25px rgb(100,100,100);
	list-style-type: none;

	border-color: rgb(150,150,150);
	border-style: solid;
	border-width: 2px;

	color: rgb(50,50,50);
}
